<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <label
      >Name
      <input type="text" placeholder="Type your name" formControlName="name" />
    </label>
  </div>
  <div>
    <label
      >Email
      <input type="text" placeholder="Type your email" formControlName="email" />
    </label>
  </div>
  <div>
    <label
      >Message
      <input type="text" placeholder="Type your message" formControlName="message"
      required/>
    </label>
  </div>
  <button type="submit">Send</button>
</form>
